/* カードのプロパティ */
.card-pan{
  margin: .5rem 0 1rem 0;padding: 24px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition:         box-shadow .25s;
    transition:         box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;background-color: #fff;
    /* 4角の定義 */
    box-shadow:0px 0px 8px 3px #9e9e9e inset;
    font-size: 1.2rem;
}

/* 以下三つは文字の大きさの指定 */
.act1{
  font-size: 1.2em;
}
.act2{
  font-size: 1.5em;
}
.act3{
  font-size: 0.8em;
}
/* ポータルメニューの文字プロパティ */
.moji{
  font-weight: bold;
}
/* マイページの部分のカードの部分(色を変えるため) */
.card-panel-a{
  margin: .5rem 0 1rem 0;
  padding: 24px;
  border: dotted #0277bd;
    -webkit-transition: -webkit-box-shadow
     .25s;transition: -webkit-box-shadow
      .25s;transition:         box-shadow
       .25s;transition:         box-shadow
        .25s, -webkit-box-shadow
         .25s;border-radius: 2px;
         background-color: #fff8e1;
}
/* 「無限大キャンパスはこちら」のボタンの部分 */
.btna{
  line-height: 36px;
  display: inline-block;
  height: 72px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  vertical-align: middle;
  text-transform: uppercase;
  text-shadow:1px 1px 0 #ffffff, 2px 2px 0 #ffffff;
  border: none;
  border-radius: 25px;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  outline:  3px #00bfa5 solid;
  cursor: pointer;;-webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #f44336;
  background-color: #1de9b6;
}
/* マイページの部分のボタン */
.btnb{
  line-height: 40px;
  display: inline-block;
  height: 50px;
  margin: 5px 10px 15px 0px;
  padding: 5px 10px 15px 0px;
  width: 100%;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  -webkit-tap-highlight-color: transparent;
  font-size: 18px;
  font-weight: bold;
  outline:  3px #000000 solid;
  cursor: pointer;;-webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #000000;
  background-color: #ffffff;
}
.btna:hover
{
    background-color: #bdbdbd;
}
.btnb:hover
{
    background-color: #bdbdbd;
}
/* ボタンのマテリアル化 */
.waves-effec
{
   position: relative;
   z-index: 1;
   display: inline-block;
   overflow: hidden;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-transition: .3s ease-out;
   transition: .3s ease-out;;vertical-align: middle;
   -webkit-tap-highlight-color: transparent;
}
.waves-effect.waves-ligh
{
    background-color: #1de9b6;
}
/* 上記のボタン二つとも他の要素（waves-effectなど）とコラボさせて使うためのもの */
.waves-effec input[type='button'],
.waves-effec input[type='reset'],
.waves-effec input[type='submit']
{
  font-size: inherit;
  font-style: normal;
  text-transform: inherit;
  border: 0;
  background: none;
}
/* 下の　i は年のため作成 */
.btna i{
  font-size: 1.4rem;line-height: inherit;
}
.btnb i{
  font-size: 1.4rem;line-height: inherit;
}

/* ポータルメニューの部分のプロパティ */
/* divの部分 */
.listl{
  /* relativeを使っているから必ず4つの値（top,right,bottom,left）でborderを指定する必要がある */
    position: relative;;
    margin: 0;
    overflow: hidden;
    border-radius: 2px;
}
/* 白色　影あり */
/* collection　2131行目 */
.listl .listl-siro
{
    line-height: 1.0rem;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 5px 10px 5px 5px;
    margin: 0;
    display: block;
    /* 4つ角の定義 */
    border-top: solid 1px #eeeeee;
    border-bottom: solid 2px #bdbdbd;
    border-left: solid 5px #9e9e9e;
    border-right: solid 2px #bdbdbd;
}
/* 白色　影なし */
.listl .listl-sironasi
{
    line-height: 1.0rem;
    background-color: #fff;
    padding: 5px 10px 5px 5px;
    margin: 0;
    display: block;

    /* 4つ角の定義 */
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #bdbdbd;
    border-left: solid 2px #eeeeee;
    border-right: solid 2px #bdbdbd;
}
/* 水色の部分 */
.listl .listl-rp
{
    line-height: 1.0rem;
    background-color: #e3f2fd;
    position: relative;
    z-index: 1;
    padding: 5px 10px 5px 5px;
    margin: 0;
    display: block;
    /* 4つ角の定義 */
    border-top: solid 1px #eeeeee;
    border-bottom: solid 2px #bdbdbd;
    border-left: solid 5px #9e9e9e;
    border-right: solid 2px #bdbdbd;
}
/* 動作 */
.listl .listl-sironasi:not(.active):hover
{
    background-color: #ddd;
}
.listl-rp:not(.active):hover
{
    background-color: #ddd;
}
.listl .listl-siro:not(.active):hover
{
    background-color: #ddd;
}
/* フッターのプロパティ */
.pagea-footer {
  padding-top: 20px;
  color: #757575;
  background-color: #aed581;

}

.pagea-footer .footer-copyrightt {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  font-weight: 900;
  color: #757575;
  margin: 5px;
  background-color: rgba(51, 51, 51, 0.08);
}
/* 中央寄せ */
.textal{
  text-align: center;
    font-weight: 700;
}
/* 右寄せ */
.textside{
  text-align: right;
  font-weight: 700;
}
/* 学校法人電子開発学園　北海道情報大学の調整 */
 .texttyousei{
  text-align: center;
  font-weight: 900;
}
/* 各文字のプロパティ */
ll{
  white-space: nowrap;
  overflow: hidden;
}
/* ポータルサイト新着情報 */
.aaa{
  border-bottom: 1px solid #bdbdbd;
}
.lista{
  /* relativeを使っているから必ず4つの値（top,right,bottom,left）でborderを指定する必要がある */
    position: relative;;
    margin: 0;
    overflow: hidden;
    border-radius: 2px;
    color: #ffffff;
}
.lista .lista-none
{
    line-height: 1.0rem;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    font-size: 0.5rem;
    padding: 5px 10px 5px 5px;
    margin: 0;
    display: block;
    /* 4つ角の定義 */
    border-top: solid 0px #ffffff
    border-bottom: solid 0px #ffffff;
    border-left: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
}
ra{
  line-height: 1.0rem;
  color: #000000;
  text-align: left;
  font-size: 0.5rem;
}
rc{
  line-height: 1.0rem;
  color: #00695c;
  font-size: 0.5rem;
}
/* これは多分使わない*/
.pain-panel
{
    margin: .5rem 0 1rem 0;padding: 24px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition:         box-shadow .25s;
    transition:         box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;background-color: #fff;
}
/* メインコンテンツのボックス */
.pain
{
    position: relative;margin: .5rem 0 1rem 0;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition:         box-shadow .25s;
    transition:         box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;;background-color: #fff;
    font-weight: bold;
    border: solid 3px #81c784;
}.pain .pain-title
{
    font-size: 24px;font-weight:bold;
    border-bottom: solid 2px #81c784;
    background: #dcedc8;
    color: #81c784;
}
.pain .pain-content
{
    padding: 24px;border-radius: 0 0 2px 2px;
}
.pain .pain-content p
{
    margin: 0;
}
.pain .pain-content .pain-title
{
    line-height: 32px;
    display: block;margin-bottom: 8px;
}
.pain .pain-content .pain-title i
{
    line-height: 32px;
}
/* お知らせ */
.boxa{
  position: relative;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition:         box-shadow .25s;
  transition:         box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;;background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-left: solid 6px #5bb7ae;
  line-height: 16px;
  padding: 5px;
}
/* ヘッダーのプロパティに利用 */
header{
  background-color: #ffffff;
  padding: 50px;
  color: #29b6f6;
  /* white-space:nowrap; */
   vertical-align:top;
}

/* 全体のプロパティ */
aside {
  width: 25%;
  float:left;
  background-color: #ffffff;
  padding-top: 10000px;
  margin-top: -10000px;

}
main {
  width: 72%;
  float:right;
  background-color: #ffffff;
  /* padding-bottom: 10000px;

  margin-bottom: -10000px; */

}
body{
  background-color: #ffffff;
}
.content{
  /* background-color: #ff; */
  /* padding: 5px;
  margin: 5px; */
  padding: 5px;
overflow: hidden;
}
