/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
article {
  width: 916px;
  margin-right:auto;
  margin-left:auto;
}
aside {
  width: 22%;
}
main {
  width: 74%;
}
